<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'polls/style.css' %}">
  <title>{{question.question_text}} - Detail</title>
</head>

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
  <legend>
    <h1 class="header center-text">
      {{ question.question_text  }}
    </h1>
  </legend>
  <p class="end_date">End date: {{question.end_date}}</p>
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li class="{{message.tags}} center-text">
        {{message}}
      </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{
      forloop.counter }}" value="{{ choice.id}}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}
    </label><br>
  {% endfor %}
</fieldset>
<button type="submit" class="button vote-button">Submit Vote</button>
<a href="{% url 'polls:results' question.id %}" class="button results-button">Results</a>
<a href="{% url 'polls:index' %}" class="button home-button">Home</a>
</form>

</html>