{% extends "polls/base_template.html" %}

{% block title %}
  <title>{{question.question_text}} - Detail</title>
{% endblock %}

{% block content %}  
<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
  <legend>
    <h1 class="header center-text">
      {{ question.question_text  }}
    </h1>
  </legend>
  <p class="end_date">End date: {{question.end_date}}</p>
  {% for choice in question.choice_set.all %}
    {% if vote and choice == vote.choice %}
      <input type="radio" name="choice" id="choice{{
        forloop.counter }}" value="{{ choice.id }}" checked="true">
    {% else %}
      <input type="radio" name="choice" id="choice{{
        forloop.counter }}" value="{{ choice.id }}">
    {% endif %}
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}
    </label><br>
  {% endfor %}
</fieldset>
<button type="submit" class="button vote-button">Submit Vote</button>
</form>
{% if vote %}
<form action="{% url 'polls:remove_vote' question.id %}" method="post">
  {% csrf_token %}
  <button type="submit" class="button vote-button">Remove Vote</button>
</form>
{% endif %}
<a href="{% url 'polls:results' question.id %}" class="button results-button">Results</a>
<a href="{% url 'polls:index' %}" class="button home-button">Home</a>
{% endblock %}

</html>