{% extends "polls/base_template.html" %}

{% block title %}
  <title>KU Polls</title>
{% endblock %}

{% block content %}
{% if latest_question_list %}
  <div style="overflow-x: auto;"></div>
  <table class="center">
    {% for question in latest_question_list %}
    <tr>
      <td>{{question.question_text }}</td>
      {% if question.can_vote %}
      <td>
        <p style="color:limegreen;">Open</p>
      </td>

      <td>
        <a href="{% url 'polls:detail' question.id %}" class="button vote-button">Vote</a>
      </td>
      {% else %}
      <td>
        <p style="color:crimson;">Closed</p>
      </td>
      <td></td>
      {% endif %}

      <td>
        <a href="{% url 'polls:results' question.id %}" class="button results-button">Results</a>
      </td>
    </tr>
    {% endfor %}
  </table>
  </div>
{% else %}
  <p>No polls are available.</p>
{% endif %}
{% endblock %}

</html>