.auth {
    width: 500px;
    padding: 10% 0 0;
    margin: auto;
}
.form {
    position: relative;
    background: white;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}
  
.input {
    background: whitesmoke;
    width: 100%;
    margin: 0 0 10px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 16px;
}
  
.form button {
    text-transform: uppercase;
    outline: 0;
    background: black;
    width: 100%;
    border: 0;
    margin: 0 0 5px;
    padding: 15px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

body {
    background: gainsboro;     
}